ons-row {
    text-align:center;
    margin:5px;
    height:auto;
}

ons-input[type="text"] {
     margin: 0 auto;
}

.CalculateButton{
     margin: 0 auto;
     margin-top: 10Px;
}

ons-col {width:100%;}

.outer-div
{
     padding: 30px;
}
.inner-div
{
     margin: auto;
     width: 253px;
     height: 100px;  
}