body{
     background-image: url("bg.png");
     background-repeat: repeat-x;
     overflow: visible;
}
ons-row {
    text-align: center;
    margin-top: auto;
    height: auto;
}
ons-input[type="text"] {
     margin: 3px auto;
}
.CalculateButton{
     margin: 10px auto;
     margin-top: 2Px;
}
ons-col{
     width:100%;
}
#outer-div{
     height: 100%;
}
.inner-div{
     margin: auto;
     width: 64%;
     height: 100%;  
     background-color: white;
     box-shadow: 5px 5px 21px black;

}
.UserInput{
     padding-bottom: 5px;
}
.text{
     text-align: center;
     width: 100%;
}